.dados_container {
    color: var(--branco-principal);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 60px;
}


.dados_container h1 {
    width: 720px;
    height: 90px;
    text-align: center;
    font-size: 50px;
    line-height: 90px;
    align-self: center;
    background-color: var(--azul-unb);
    border: 4px solid #E6E6E6;
    border-radius: 50px;
    align-self: center;
    margin-top: 106px;
}

.dados_container h2{
    margin: 126px auto 100px auto;
    background-color: var(--azul-unb);
    padding: 23px 72px;
    border-radius: 25px;
    width: 295px;
    height: 76px;
    font-size: 60px;
    line-height: 75px;
    font-weight: 400;
}

.dados_container img {
    margin: 0 auto;
}
