.titulo {
    min-width: 1200px;
    min-height: 600px;
    margin: 200px 360px;
}

.titulo:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 360px;
    top: 200px;
    width: 1200px;
    height: 600px;
    z-index: 1;
    opacity: 0.6;
    background-image: url(../images/fundo_unb.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}

.nome_projeto {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    flex-wrap: wrap-reverse;
}

.nome_projeto h1 {
    font-size: 70px;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nome_projeto h2 {
    width: 710px;
    font-family: 'Lexend', sans-serif;
    font-size: 50px;
    text-align: center;
    margin:  10px auto ;
}

.sobre {
    display: flex;
    flex-direction: column;
    background-color: #3d3d3dcc;
    margin-top: 280px;
    padding: 100px 150px;
}

.sobre h3{
    color: #FFFFFF;
    font-size: 50px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sobre p{
    color: #FFFFFF;
    font-family: 'Lexend', sans-serif;
    font-size: 30px;
    line-height: 38px;
    margin: 30px 0;
    width: 1616px;
}

.sobre button{
    width: 200px;
    height: 60px;
    background: #046ACB;
    border-radius: 60px;
    font-family: 'Inter', sans-serif;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    padding: 0;
    margin: 70px auto;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.quem_somos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    padding: 110px 160px 0 160px;
    background: #D8D8D8;
    padding-top: 110px;
}

.quem_somos h3 {
    font-size: 60px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.quem_somos img {
    grid-row-start: 2;
}

.quem_somos p {
    grid-row-start: 2;
    font-family: 'Lexend', sans-serif;
    font-size: 30px;
    line-height: 38px;
    height: fit-content;
    width: 700px;
}

.quem_somos a {
    width: fit-content;
    height: fit-content;
    grid-row-start: 3;
    grid-column-start: 2;
    margin: auto;
    font-family: 'Lexend', sans-serif;
    text-align: center;
    font-size: 30px;
}

.desenvolvedores {
    margin: 40px 0 0 0;
    display: flex;
    flex-direction: column;
}

.desenvolvedores h3 {
    margin: 40px 0 90px 0 ;
    text-align: center;
    font-size: 60px;
}

.desenvolvedores div {
    align-self: center;
    margin: 0 auto 300px auto;
}

.desenvolvedores img {
    align-self: center;
    width: 200px;
    height: 200px;
    padding-right: 74px;
}

.prof {
    display: grid;
}

.prof h3 {
    font-family: 'Lexend', sans-serif;
    font-size: 54px;
    line-height: 68px;
    text-align: center;
    max-width: 1560px;
    margin: 0 auto 40px auto;
}

.prof div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    justify-items: center;
}

.prof img {
    width: 400px;
    height: 400px;
    grid-row-start: 1;
}

.prof p {
    font-family: 'Lexend', sans-serif;
    font-size: 54px;
    text-align: center;
    margin-top: 10px;
    line-height: 68px;
}
