.popup {
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-inner {
    display: flex;
    width: 1620px;
    margin: auto 150px;
    padding: 55px 227px 85px 227px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #3D3D3D;
    color: #FFFFFF;
    font-size: 20px;
    font-family: 'Lexend', sans-serif;
    line-height: 25px;
    border-radius: 100px;
}

.close-btn {
    width: 200px;
    height: 60px;
    background: #046ACB;
    border-radius: 60px;
    font-family: 'Inter', sans-serif;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    padding: 0;
    margin: 20px auto;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.open {
    background-color: rgba(0, 0, 0, 0.60);
    transition: 400ms;
}

.close {
    background-color: #FFFFFF;
}